body {
  align-items: center;
  background-color: #313131;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main {
  border: 2px solid red;
}

.game-header {
  align-items: center;
  background-color: rgb(57, 109, 124);
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 50vw;
}

.game-gravatar-picture {
  border-radius: 100%;
}

.game-container {
  width: 50vw;
  padding: 10px;
  background-color: rgb(57, 109, 124);
}

.game-category {
  color: white;
  text-align: center;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  padding: 10px;
}

.game-question {
  color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-bottom: 3px solid white;
}

.game-answers {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.game-answers button {
  cursor: pointer;
  height: 30px;
}

.game-next-question {
  width: 50vw;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  background-color: rgb(57, 109, 124);
}

.game-next-question button {
  width: 100%;
  height: 50px;
  box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

.game-next-question button:hover {
background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}

.game-next-question button:active {
position:relative;
top:1px;
}
